body {
    margin: 0;
    font-family: Calibri, 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
}

ul{
    padding: 0;
    margin: 0;
    list-style: none;
}

li{
    /* margin-bottom: 10px; */
}

header{
    height: 90px;
    background-color: #232527;
    color: #ffffff;
}

nav{
    color: #ffffff;
    font-size: 20px;
}

#container{
    margin: 0px auto;
    width: 100%;
}

#left, #right{
    display: inline-block;
    height: 100%;
}

#left{
    width: 20%;
    background-color: #333538;
}

#right{
    width: 80%;
    background-color: #7c7f83;
    float: right;
}

#items{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    /* max-width: 800px; */
    gap: 10px;
    margin: 0, auto, 0;
    padding-top: 10px;
}

.item{
    /* border-style: solid;
    border: 20px; */
    font-size: 13px;
    text-align: center;
    color: #ffffff;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    width: 300px;
}

.item img{
    max-width: 160px;
    height: auto;
}

.item_date{
    color: #d2caca;
    font-size: 9px;
}

#movie_section{
    padding:42px 32px ;
}

#movie_section_content_left, #movie_section_content_right{
    display: inline-block;
    height: 100%;
}

#movie_section_content_left{
    width: 20%;
    /* background-color: #333538; */
}

#movie_section_content_right{
    width: 75%;
    /* background-color: #7c7f83; */
    float: right;
}

#movie_section_content_left img{
    padding-top: 22px;
    max-width: 280px;
    height: auto;
}

#rating {
    width: 180px;
    height: 5px;
    background-color: black;
}

#progressBar {
    width: 50%;
    height: 5px;
    background-color: yellow;
}

footer{
    clear: both;
}